body{
    font-family: 'Roboto', sans-serif;
}

.police-shrikhand{
    font-family: 'Shrikhand', cursive; 
}

:root{
    --violet: #9356dc;
    --pink: #ff76da;
    --blue: #99e2d0;
}

.loader-container{
    background: #EAEAEA;
    opacity: 0.9;
    z-index: 2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    animation: time 5s;
    animation-fill-mode: forwards;
}

@keyframes time{
    0%{
        transform: scale(0.5s);
        opacity: 1;
    }
    100%{
        transform: scale(1s);
        opacity: 0;
        z-index: -1;
    }
}

.loader{
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: var(--violet);
    animation: spin 2s linear infinite;

}

.loader::before, .loader::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 8px solid transparent;

}

.loader::before{
    top: 10px;
    left: 10px;
    right:10px;
    bottom: 10px;
    border-top-color:var(--pink) ;
    animation: spin 3s linear infinite;
    
}

.loader::after{
    top: 25px;
    left: 25px;
    right:25px;
    bottom: 25px;
    border-top-color:var(--blue);
    animation: spin 1.5s linear infinite;

}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

header{
    
    z-index: 1;
    justify-content: center;
    margin: 18px 0;
}

#logo{
    height: 34px;   
}

#logo img{
    width: 170px;
}

.searchbox {
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    height: 60px;
    align-items: center;
}

.searchbox label{
    font-size: 1.5em;
    margin-right: 5%;
}

.searchbox input{
    border-style: none;
    background-color: #EAEAEA;
    font-weight: bold;
    height: 30px;
    color: #353535;
} 

.searchbox input::placeholder{
    color: #353535;
    border-style: none;
}

#presentation{
    display: flex;
    flex-direction: column;
    text-align: center;    
    align-items: center;
    background-color:#F6F6F6;    
    padding: 70px 5%;
}

#presentation h1{ 
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 26px;
}

#presentation .soustitre{
    font-size: 19px;
    color: #414141;
    margin-block-start: 0.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn a{
    text-decoration: none;
    color: white;
    background: linear-gradient(180deg, #ff76da 0%, #9356dc 100%);
    border-radius: 50px;
    padding: 15px;
    font-size: 18px;
    transition: background-color 1s;    
}

#btn a:hover{
    box-shadow: 1px 11px 14px 0px rgba(130, 130, 130, 0.38);
    background: linear-gradient(180deg, #9356dc 0%, #ff76da 100%);
}

    /*FONCTIONNEMENT*/

#fonctionnement {
    justify-content: space-around;
    display: flex;
    margin: 5%;
    height: 375px;
    flex-direction: column;
    padding-bottom: 30px;
}

#fonctionnement h2{
    margin: 15px;
}

#fonctionnement .btn-fonctionnement{
    display: flex;
    align-content: center;
   /* justify-content: center;*/
    align-items: center;
    margin-bottom: 2%;
}

#fonctionnement .btn-fonctionnement .numero{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: var(--violet);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    z-index: 0;
}

#fonctionnement .btn-fonctionnement div{
    display: flex;
    align-content: center;
    align-items: center;
    background: #F6F6F6;
    padding: 1% 3%;
    border-radius: 20px;
    min-width:90%;
    min-height: 25px;
    height: 60px;
}

#fonctionnement .btn-fonctionnement div:hover{
    box-shadow: 1px 11px 14px 0px #e7e7e7;
    background-color: #F5EDFF;
    cursor: pointer;
    
   
}

#fonctionnement .btn-fonctionnement div:hover i{
    color: #9356dc;
    cursor: pointer;
}

#fonctionnement .btn-fonctionnement div i{
    margin: 17px;
    color:#7a7a7a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#fonctionnement .btn-fonctionnement div p{
    font-weight: 700;
}

/*NOM DE RESTAURANTS*/

#restaurants{
   
    margin: 5% 5% 0;
    background-color: #F6F6F6;
    padding-bottom: 45px;
}

#restaurants h2{
    padding: 50px 15px 15px; 
    margin-left: 15px;
}

.fiche-restaurant{
    display: flex;
    flex-direction: column;
    margin: 5%;
    gap: 20px;
}

.fiche-restaurant article{
    position: relative;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    height: 275px;
    transition: 0.5s;

}

.fiche-restaurant article:hover{
    box-shadow: 1px 11px 14px 0px #e7e7e7;
    transform: scale(1.01);
}

.fiche-restaurant article a{
    text-decoration: none;
    color: black;
}

.fiche-restaurant img {
    min-width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.nouveau-clignotant{
    position: absolute;
    top: -5px;
    right: 10px;
    z-index: 1;
    background-color: #99E2D0;
    color: #058a69;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    pointer-events: unset;
    cursor: default;
}

article.nom-restaurant{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 150px;
}

.nom-restaurant{
    margin: 15px 0 5px 10px;
    position: relative;

} 

.nom-restaurant h3{
    justify-content: flex-start;
}

.nom-restaurant p{
    font-size: 18px;
    justify-content: flex-start;
    margin-top: -13px;
}

.coeur i{
    position: absolute;
    bottom: 30px;
    right: 15px;
    font-size: 26px;
    cursor: pointer;
    
}

i.coeurplein {
    color: transparent;
    background-image: linear-gradient(180deg, #9356dc 0%, #ff76da 100%);
    background-clip: text;
    -webkit-background-clip: text;    
    opacity: 0;
    /*transform: scale(0.1);*/
   
}

i.coeurplein:hover{
    transform:scale(1.1);
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
    
}



/*FOOTER*/

footer{
    background-color: #353535;
    padding:10px 5% 15px;
}

.h2_footer{
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 20px;
    font-weight: 400;

}

h4{
    font-weight: 400;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.restaurant-et-partenaire{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.restaurant-et-partenaire a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 30px;
    font-weight: 400;
    
}

.restaurant-et-partenaire a i{

    margin: 5px 15px 5px 0;
    font-size: 15px;
   
}

.restaurant-et-partenaire a i.fas.fa-hands-helping{
    margin: 5px 12px 5px 0;
    font-size: 12px;
}

.mentions-et-contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.mentions-et-contact a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 32px;
}

/*MENU*/

header{
   display:flex;
   align-content: center;
   align-items: center;
     
}

.en-tete a{
    position: absolute;
    left: 22px;
    margin-top: 5px;
    text-decoration: none;
    color:#353535 ;
    font-weight: bold;
    font-size: 20px;
   
    
}

.en-tete img{
    display: flex;
    justify-content: center;
}

.menu-general{  
    padding-bottom: 50px;
    background-color: #F6F6F6;
    
}

.container img{
    min-width: 100%;
    height: 260px;
    object-fit: cover;
    
}

.menu{
    border-radius: 25px 25px 0 0;
    background-color: #F6F6F6;
    position: relative;
    margin-top: -50px;
   
}

.menu .coeur{
   position: relative;
   margin-right: 25px;
   bottom: 7px;
}

.le-restaurant{
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-family:'Shrikhand', cursive;
    padding: 10px ;
    font-size: 15px;
    margin:0 18px ;
}
.le-restaurant h1{
    margin-left: 10px;
}

.le-restaurant i{
    margin-right: 15px;
    font-size: 22px;
    font-weight: 300;

}

.menu-description{
    margin: 5%;
}

.h2-menu{
    display:inline;
    position: relative;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;

}

.h2-menu::after{
   content: "";
   display: block;
   position: absolute;
   width: 50%;
   height: 3px;
   background: var(--blue);  
   transition: width 0.2s ease-in-out;
}

.h2-menu:hover::after{
    width: 100%;
}

.menu-intitule{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    margin: 20px 0;
    text-decoration: none;
    color: black;
    height: 70px;
   
}

.menu-intitule:hover{
    box-shadow:1px 11px 14px 0px #e8e8e8;
    
}

.h3-nom-plat{
    margin-block-start: 2px;
    margin-block-end: 5px;
    /*position: relative;*/
   
}

.menu-intitule .menu-titre-description{
    width: 80%;
    padding: 10px;
}

.menu-intitule .menu-titre-description h3 .menu-intitule .menu-titre-description p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.menu-intitule .menu-prix{
    display: flex;
    justify-content: flex-end;
    width: 10%;
    margin-right: 2%;
}

.menu-intitule .menu-valider {
    width: 0px;
    display: none;
    height: 70px;  
    
}


.menu-intitule:hover .menu-titre-description{
    width: 85%;
    
}

.menu-intitule:hover .menu-valider {
    display: flex;
    justify-content: center;
    /*transition-duration: 4s ;*/
    align-items: center;
    width: 70px !important;
    background-color: #99E2D0;
    border-radius: 0px 25px 25px 0px;
    color: white;   
}



.menu-valider:hover i {

    transform:  rotate(360deg);
    transition-duration: 330ms;
}
.menu-1{
    animation: fadein 4s ease forwards ;
    opacity: 0;
    animation-fill-mode: both;
    
} 

.menu-2{
    animation: fadein 4s ease forwards;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: both;
    
}

.menu-3{
    animation: fadein 4s ease forwards;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: both;
    
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.bouton2{    
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 30px;
}