        */*ACCUEIL*/
        /*FONCTIONNEMENT*/

#fonctionnement .btn-fonctionnement div{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    max-width: 30%;
}
#restaurants h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
}
        /*RESTAURANT*/

.fiche-restaurant{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
}
.fiche-restaurant article{
    width: 45%;
    margin: auto;
    gap: 25px
}
        /* MENU*/
        /*HEADER*/

#logo{
    height: 60px;
}
#logo img{
    width: 300px;
}

.container img{
   height: 400px;
}
        /*FONCTIONNEMENT*/

.fonctionnement-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

#fonctionnement{
    height: 275px;
    margin-top: 10px ;
    padding-bottom: 15px;
}

#fonctionnement .btn-fonctionnement{
    width: 45%;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 35px; 
}

        /*MENU DESCRIPTION*/

.le-restaurant {
    justify-content: space-between;
    font-size: 22px;

}

.menu-description{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 30px;

}

.coeur i{
    bottom: 50px;
    font-size: 30px;
}

.menu-1, .menu-2, .menu-3{
    min-width: 370px;
}
/*
.menu-2{
  
    width: calc(100% - 4%)/3;
}
.menu-3{
   
    width: calc(100% - 4%)/3;
}*/